19_24_4ccaa_bis.html
19_24_4ccaa.html
Analisis_Estructural_Completo_NAs_NUEVO.xlsx
Analisis_NAs_4CCAA.xlsx
datos_normalizados_competo.csv
datos_normalizados_pca.csv
indicadores_calculados_oecd.xlsx
tfg_pre_imputacion.rmarkdown
cindicators.rds
cindicators_oecd.rds
df_indicadores_completo.rds
df_indicadores_completo_oecd.rds
indicators_oecd.rds
